In [9]:
import pandas as pd

In [34]:
train_df = pd.read_csv('/Users/logan.larson/code/g-research-crypto-forecasting/train.csv'); print(train_df.shape)
supp_train_df = pd.read_csv('/Users/logan.larson/code/g-research-crypto-forecasting/supplemental_train.csv'); print(supp_train_df.shape)
asset_details = pd.read_csv('/Users/logan.larson/code/g-research-crypto-forecasting/asset_details.csv'); print(asset_details.shape)
example_submission = pd.read_csv('/Users/logan.larson/code/g-research-crypto-forecasting/example_sample_submission.csv'); print(example_submission.shape)
example_test = pd.read_csv('/Users/logan.larson/code/g-research-crypto-forecasting/example_test.csv'); print(example_test.shape)

(24236806, 10)
(2015112, 10)
(14, 3)
(56, 3)
(56, 11)

In [38]:
train_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [30]:
supp_train_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1623542400,3,1201.0,1.478556,1.48603,1.47800,1.483681,654799.561103,1.481439,-0.002594
1,1623542400,2,1020.0,580.306667,583.89000,579.91000,582.276667,1227.988328,581.697038,-0.009143
2,1623542400,0,626.0,343.789500,345.10800,343.64000,344.598000,1718.832569,344.441729,-0.004525
3,1623542400,1,2888.0,35554.289632,35652.46465,35502.67000,35602.004286,163.811537,35583.469303,0.003096
4,1623542400,4,433.0,0.312167,0.31260,0.31192,0.312208,585577.410442,0.312154,0.001426

In [39]:
print(train_df.Asset_ID.unique())
print(train_df.timestamp.max())
print(train_df.timestamp.min())

[ 2  0  1  5  7  6  9 11 13 12  3  8 10  4]
1632182400
1514764860

In [17]:
asset_details.head(15)

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [40]:
example_submission.head(55)

    group_num  row_id  Target
0           0       0       0
1           0       1       0
2           0       2       0
3           0       3       0
4           0       4       0
5           0       5       0
6           0       6       0
7           0       7       0
8           0       8       0
9           0       9       0
10          0      10       0
11          0      11       0
12          0      12       0
13          0      13       0
14          1      14       0
15          1      15       0
16          1      16       0
17          1      17       0
18          1      18       0
19          1      19       0
20          1      20       0
21          1      21       0
22          1      22       0
23          1      23       0
24          1      24       0
25          1      25       0
26          1      26       0
27          1      27       0
28          2      28       0
29          2      29       0
30          2      30       0
31          2      31       0
32          2      32       0
33          2      33       0
34          2      34       0
35          2      35       0
36          2      36       0
37          2      37       0
38          2      38       0
39          2      39       0
40          2      40       0
41          2      41       0
42          3      42       0
43          3      43       0
44          3      44       0
45          3      45       0
46          3      46       0
47          3      47       0
48          3      48       0
49          3      49       0
50          3      50       0
51          3      51       0
52          3      52       0
53          3      53       0
54          3      54       0